<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_ros2_control" params="name use_fake_hardware:=^|false fake_sensor_commands:=^|false use_sim:=^|false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if> -->
        <!-- <xacro:if value="${use_sim}"> -->
        <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
        <param name="joint_commands_topic">/${name}/joint_command</param>
        <param name="joint_states_topic">/${name}/joint_states</param>
        <param name="trigger_joint_command_threshold">-1</param>
        <param name="sum_wrapped_joint_states">true</param>
        <!-- </xacro:if> -->
      </hardware>
      <joint name="lf_steer_joint">
        <command_interface name="position">
          <param name="min">-360</param>
          <param name="max">360</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rf_steer_joint">
        <command_interface name="position">
          <param name="min">-360</param>
          <param name="max">360</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="lb_steer_joint">
        <command_interface name="position">
          <param name="min">-360</param>
          <param name="max">360</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rb_steer_joint">
        <command_interface name="position">
          <param name="min">-360</param>
          <param name="max">360</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="lf_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rf_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="lb_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="rb_wheel_joint">
        <command_interface name="velocity">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      
    </ros2_control>

  </xacro:macro>

</robot>
